body {
	background-color: red;
}
h1 {
	font-family: sans-serif;
}
input {
	height: 200px,
	width: 400px;
}
// Create css file and link it to your HTML file, and write css code for the following: 
//     a. Change the background color for the whole page.
//     b. Change the font family for the header of the page.  
//     c. Enlarge the input text (both: width & height).